<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>

<div th:if="${signupError}">
    <p th:text="${signupError}"></p>
</div>

<form th:action="@{/signup}" th:object="${userSignUpForm}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <div>
        <label for="email">이메일</label>
        <input type="email" id="email" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <div>
        <label for="name">이름</label>
        <input type="text" id="name" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>

    <div>
        <button type="submit">회원가입</button>
    </div>
</form>

<p><a th:href="@{/}">홈으로</a></p>
</body>
</html>